/**
 * This stylesheet contains CSS specific to the homepage
*/

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--body-bg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Increase the horizontal padding for the container */
.container {
    padding-left: calc(var(--bs-gutter-x) * .55);
    padding-right: calc(var(--bs-gutter-x) * .55);
}

/**
 * NAVBAR
*/
nav.navbar {
    width: 100%;
    height: 5rem;
    background-color: rgba(29, 90, 50, 0.95);
    transition: 0.2s ease-in;
}

nav.nav-bg {
    background-color: rgba(29, 90, 50, 0.95);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Change navbar color on timeline toggle */
nav.navbar.timeline-mode {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s ease-in;
}

nav.nav-hollowbg {
    /* Styles for subpage header */
    background-color: none;
}

nav.nav-hollowbg > .container {
    /* Styles for subpage header */
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.75);
}

img.nav-logo {
    /* TLS logo at navbar */
    width: 3rem;
    transition: 0.2s ease-in;
}

img.nav-logo:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

li.nav-item {
    margin: 0 0.35em 0;
    color: white;
}

li.nav-item:hover {
    color: #1D5A32;
}

li.nav-item > span.material-icons {
    display: none;
}

a.nav-link {
    /* Links inside the li.nav-item */
    padding: 0.35rem 1.1rem !important;
    font-weight: 500;
    font-size: 0.85em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

a.nav-link:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

nav .offcanvas {
    background-color: rgba(26, 26, 26, 0.9);
    padding: 2rem;
    color: white !important;
}

nav h5.offcanvas-title {
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        height: 4rem !important;
    }

    nav.navbar .container {
        padding-bottom: .5rem;
    }
    
    img.nav-logo {
        width: 2.5rem !important;
    }
    
    li.nav-item {
        display: flex;
        align-items: center;
        margin: 1em 0 0 0;
        border-radius: 30px;
        padding: 0.5em 1em 0.5em 1em;
        width: -moz-fit-content;
        width: fit-content;
    }

    li.nav-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

    li.nav-item > span.material-icons {
        display: block;
        margin-right: 1.5rem;
        font-size: 2em;
    }

    a.nav-link {
        background-color: rgba(255, 255, 255, 0);
        font-size: 1.2em;
        font-weight: 400;
    }

    a.nav-link:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    button.navbar-toggler {
        display: inline-flex;
        align-items: center;
    }
}

/**
* ANCHORS
*/

:target:before {
    content: "";
    display: block;
    height: 85px;
    margin: -85px 0 0;
}

@media only screen and (max-width: 767px) {
    :target:before {
        content: "";
        display: block;
        height: 68px;
        margin: -68px 0 0;
    }
}

/**
 * HEADER
*/
header {
    overflow: hidden;
}

header div.header-bg {
    background-image: url(/assets/NZ-6276.jpg);
    background-position: center;
    background-size: 100%;
    background-position-y: 100%;
    background-fit: cover;
}

header div.header-bg a {
    color: inherit;
}

@media only screen and (max-width: 1185px) {
    header div.header-bg {
        background-size: cover;
    }
}

header h1.title {
    font-size: 72px;
    line-height: 100px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

header div.background {
    /*background-color: rgba(29, 90, 50, 0.3);*/
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 50, 29, 0) 47.21%, rgba(26, 50, 29, 0.4) 100%);
    margin: 0%;
    max-width: 100% !important;
    height: 80vh;
    padding-top: 60vh;
}

@media only screen and (max-width: 767px) {
    header h1.title {
        font-size: 48px;
        line-height: 60px;
    }

    header div.background {
        height: none;
        padding-top: 60vh;
    }
}

@media only screen and (max-width: 400px) {
    header h1.title {
        font-size: 40px;
        line-height: 50px;
    }
}

/**
* TIMELINE SECTION (on main page)
*/

.timeline-section {
    background-image: url(/assets/timeline/dls_Canon_Hotelbg-2.jpg);
    background-position-y: 10%;
    height: 40vh;
}

.timeline-section p {
    text-align: center;
    max-width: 50%;
    font-size: 21px;
}

.timeline-background {
    background: rgba(29, 90, 50, 0.9);
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .timeline-section p {
        max-width: 90%;
    }

    .timeline-section {
        background-position-x: 60%;
    }
}

button.open-button {
    font-weight: 700;
    background: #D6E6DA;
    border: none;
    border-radius: 12px;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    transition: 0.2s;
}

button.open-button:hover {
    bottom: 5px;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.2);
}

/**
* TIMELINE MODAL (overlay)
*/

div.timeline-title {
    color: white;
    text-align: center;
    padding-top: 2em;
}

.timeline-title h1 span.title-top {
    letter-spacing: 0.8em;
    font-weight: 400;
    font-size: 21px;
}

.timeline-title h1 span.title-bottom {
    letter-spacing: 0.1em;
    line-height: 54px;
    font-weight: 700;
    font-size: 48px;
}

div.timeline-modal.visible {
    visibility: visible;
    transform: translateY(85px);
    transition: 0.4s ease-in-out;
    opacity: 1;
}

div.timeline-modal {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    overflow-y: scroll;
    background-color: rgba(29, 90, 50, 0.95);
    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* Hides the scrollbar on the timeline modal */
div.timeline-modal::-webkit-scrollbar {
    display: none;
}

div.timeline-modal .card-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

div.card-container .timeline-card {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    max-height: max-content;
    border: 4px solid white;
    border-radius: 16px;
    overflow: hidden; /* Makes sure the image fits in the rounded card */
    margin: 1em;
    background-color: white;
}

.timeline-card img {
    width: 100%;
}

div.timeline-card .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    padding-bottom: 24px;
}

.text-container h2 {
    margin: auto;
    color: black;
    font-weight: 700;
    font-size: 42px;
    line-height: 80px;
}

.text-container p {
    margin: auto;
    color: black;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.3;
    text-align: center;
}

button.timeline-close {
    position: absolute;
    width: 50px;
    font-size: 48px;
    top: 10%;
    right: 8%;
    color: white;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

button.timeline-close:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

/**
 * VOX CAROUSEL
*/
body .vox-carousel{
    justify-content: center;
    align-items: center;
}

.vox-pady {
    padding-top: 18.5!important;
    padding-bottom: 18.5rem!important;
}

.vox-carousel {
    padding-left: calc(var(--bs-gutter-x) * .55);
    padding-right: calc(var(--bs-gutter-x) * .55);
    position: relative;
    width: 100%;
    height: 40rem;
}

.vox-carousel .vox-icon {
    position: relative;
    left: -13rem;
    top: 15rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /**animation: animate-small 20s linear infinite;*/
}

@keyframes animate-small {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.vox-carousel .vox-icon .vox-img {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #000;
    box-shadow: 0 0 0 4px #222;
    transform: rotate(calc(360deg / 8 * var(--i)));
    transform-origin: 15rem;
}

.vox-carousel .vox-icon .vox-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg / 8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
    opacity: 0.8;
}

.vox-carousel .vox-icon .vox-img.vox-active img {
    filter: grayscale(0);
    opacity: 1;
}

.vox-content {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -0.2rem;
    top: 13rem;
}

.vox-contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}

.vox-contentBx.vox-active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.25s;
}

.vox-contentBx .vox-img{
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 0 4px #000, 0 0 0 6px rgba(29, 90, 50, 0.3);
    overflow: hidden;
}

.vox-contentBx .vox-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vox-textBx {
    padding-top: 29.5rem!important;
    padding-bottom: 2rem!important;
}

h2.vox-title {
    font-size: 3.15em;
    color: #000!important;
}

@media only screen and (max-width: 767px) {
    .vox-pady {
        padding-top: 14!important;
        padding-bottom: 14rem!important;
    }

    .vox-carousel {
        height: 36.5rem;
    }

    .vox-carousel .vox-icon {
        left: -11rem;
        top: 14rem;
        width: 4rem;
        height: 4rem;
    }

    .vox-carousel .vox-icon .vox-img {
        width: 4rem;
        height: 4rem;
        transform-origin: 13rem;
    }

    .vox-carousel .vox-icon .vox-img img {
        width: 4rem;
        height: 4rem;
    }

    .vox-content {
        left: 0rem;
        top: 12rem;
    }

    .vox-contentBx .vox-img{
        width: 13rem;
        height: 13rem;
    }

    .vox-textBx {
        padding-top: 27rem!important;
        padding-bottom: 2rem!important;
    }

    h2.vox-title {
        font-size: 2.5em;
        color: #000!important;
    }
}

@media only screen and (max-width: 400px) {
    .vox-pady {
        padding-top: 14!important;
        padding-bottom: 14rem!important;
    }

    .vox-carousel {
        height: 31.5rem;
    }

    .vox-carousel .vox-icon {
        left: -8rem;
        top: 12rem;
        width: 3rem;
        height: 3rem;
    }

    .vox-carousel .vox-icon .vox-img {
        width: 3rem;
        height: 3rem;
        transform-origin: 9.5rem;
    }

    .vox-carousel .vox-icon .vox-img img {
        width: 3rem;
        height: 3rem;
    }

    .vox-content {
        left: 0rem;
        top: 10.5rem;
    }

    .vox-contentBx .vox-img{
        width: 10rem;
        height: 10rem;
    }

    .vox-textBx {
        padding-top: 23rem!important;
        padding-bottom: 2rem!important;
    }

    h2.vox-title {
        font-size: 2.5em;
        color: #000!important;
    }
}

/**
 *  COMMUNITIES CAROUSEL
*/
body .comm_carousel{
    background: #1D5A32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comm_pady {
    padding-top: 4em;
    padding-bottom: 4em;
}

.comm_card {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.card_left {
    max-width: 40%;
}

.card_left img {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    padding: 4px;
    margin-bottom: 1em;
    width: 25em;
    max-height: 320px;
    object-fit: cover;
}

.card_left, .card_right {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.card_right p {
    
}

.card_right h3 {
    font-weight: 700;
    font-size: 32px;
}

.card_right strong {
    font-weight: 700;
}

@media screen and (max-width: 680px) {
    .card_right h3 {
        text-align: center;
        padding-bottom: 0.5em;
    }

    .carousel-item {
        min-height: 900px;
    }

    .card_left, .card_right {
        padding: 0.5em;
    }

    .card_left {
        max-width: none;
    }
}

@media screen and (min-width: 500px) {
    #comm-carousel {
        width: 98vw;
    }
}

/**
 * ARTICLES
 */
.article {
    display: flex;
    align-content: center;
}

.article-pad {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important;
    max-width: 80%;
}

.card-img-top {
    padding-top: 1rem!important;
}

.card {
    margin: 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 25ms ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(-2px);
    transition: 25ms ease-in-out;
}

.card-title {
    font-size: 26px;
    color: #000;
}

.card-text {
    color: #000;
}

.card-link {
    text-decoration: none;
}

.card img {
    object-fit: cover;
    max-height: 250px;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 767px) {
    .article {
        flex-direction: column;
    }
    
    .card {
        max-width: none;
        width: 100%;
    }
}

/**
 * FOOTER
*/
footer {
    /*background: #1D5A32;*/
    background-image: linear-gradient(rgba(29, 90, 50, 0.8), rgba(29, 90, 50, 0.95)), url(/assets/dlsu-garden.jpg);
    background-size: cover;
    background-position: 0% 172%;
    object-fit: cover;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer a {
    color: white !important;
    text-decoration: none !important;
}

footer a:hover {
    opacity: 0.75!important;
    text-decoration: underline !important;
}

.footer-link-main-site {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1em;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.footer-link-main-site:hover {
    opacity: 0.75; /* reduce opacity */
}

.footer-link-main-site:hover + .material-icons {
    transform: translateX(.3rem); /* slide right slight */
}

.material-icons {
    transition: 0.3s;
}

@media screen and (min-width: 1200px) /* md going to lg */ {
    .footer-description {
        font-size: 1em !important;
    }
    
    .footer-developers {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 1200px) /* md going below until xs */ {
    .footer-description {
        font-size: 0.8em !important;
        padding-top: 0.5rem;
    }
    
    .footer-link-main-site {
        font-size: 0.8em !important;
    }

    .footer-developers {
        font-size: 0.7em !important;
        padding-top: 0.5rem;
    }
}

.footer-title {
    border-radius: 70px;
    background: rgba(96, 146, 114, 0.5);
}

p#footer-special-name {
    padding: 5px 25px 5px 25px !important;
}