/**
 * This stylesheet contains CSS specific to the homepage
*/

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--body-bg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Increase the horizontal padding for the container */
.container {
    padding-left: calc(var(--bs-gutter-x) * .55);
    padding-right: calc(var(--bs-gutter-x) * .55);
}

/**
 * NAVBAR
*/
nav.navbar {
    width: 100%;
    height: 5.75rem;
    transition: 0.2s ease-in;
}

nav.nav-bg {
    background-color: rgba(29, 90, 50, 0.95);
}

nav.nav-hollowbg {
    /* Styles for subpage header */
    background-color: none;
}

nav.nav-hollowbg > .container {
    /* Styles for subpage header */
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.75);
}

img.nav-logo {
    /* TLS logo at navbar */
    width: 3rem;
    transition: 0.2s ease-in;
}

img.nav-logo:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

li.nav-item {
    margin: 0 0.35rem 0;
    color: rgba(29, 90, 50, 1);
}

li.nav-item > span.material-icons {
    display: none;
}

a.nav-link {
    /* Links inside the li.nav-item */
    padding: 0.25rem 1.25rem !important;
    font-weight: 500;
    font-size: 0.85em;
    border-radius: 50rem;
    background-color: rgba(214, 230, 218, 1);
    transition: 0.2s;
}

a.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .offcanvas {
    background-color: rgba(26, 26, 26, 0.9);
    padding: 2rem;
    color: white !important;
}

nav h5.offcanvas-title {
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        height: 4rem !important;
    }

    nav.navbar .container {
        padding-bottom: .5rem;
    }
    
    img.nav-logo {
        width: 2.5rem !important;
    }
    
    li.nav-item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    li.nav-item > span.material-icons {
        display: block;
        margin-right: 1.5rem;
        font-size: 2em;
    }

    a.nav-link {
        background-color: rgba(255, 255, 255, 0);
        font-size: 1.2em;
        font-weight: 400;
    }

    button.navbar-toggler {
        display: inline-flex;
        align-items: center;
    }
}

/**
 * HEADER
*/
header {
    overflow: hidden;
}

header div.header-bg {
    background-position: center;
    display: block;
    background-size: 100%;
    transition: background-size 0.25s ease-out;
    padding-top: 3.75rem;
}

header div.header-bg a {
    color: inherit;
}

@media only screen and (max-width: 1185px) {
    header div.header-bg {
        background-size: cover;
    }
}

header h1.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div.background {
    /*background-color: rgba(29, 90, 50, 0.3);*/
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 50, 29, 0) 47.21%, rgba(26, 50, 29, 0.4) 100%);
    margin: 0%;
    max-width: 100% !important;
}

header div.pady {
    padding-top: 26rem!important;
    padding-bottom: 3rem!important;
}

/**
 * VOX CAROUSEL
*/
body .vox-carousel{
    justify-content: center;
    align-items: center;
}

.vox-pady {
    padding-top: 18.5!important;
    padding-bottom: 18.5rem!important;
}

.vox-carousel {
    padding-left: calc(var(--bs-gutter-x) * .55);
    padding-right: calc(var(--bs-gutter-x) * .55);
    position: relative;
    width: 100%;
    height: 40rem;
}

.vox-carousel .vox-icon {
    position: relative;
    left: -13rem;
    top: 15rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /**animation: animate-small 20s linear infinite;*/
}

@keyframes animate-small {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.vox-carousel .vox-icon .vox-img {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #000;
    box-shadow: 0 0 0 4px #222;
    transform: rotate(calc(360deg / 8 * var(--i)));
    transform-origin: 15rem;
}

.vox-carousel .vox-icon .vox-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg / 8 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
    opacity: 0.8;
}

.vox-carousel .vox-icon .vox-img.vox-active img {
    filter: grayscale(0);
    opacity: 1;
}

.vox-content {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -0.2rem;
    top: 13rem;
}

.vox-contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}

.vox-contentBx.vox-active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.25s;
}

.vox-contentBx .vox-img{
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 0 0 4px #000, 0 0 0 6px rgba(29, 90, 50, 0.3);
    overflow: hidden;
}

.vox-contentBx .vox-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vox-textBx {
    padding-top: 29.5rem!important;
    padding-bottom: 2rem!important;
}

h2.vox-title {
    font-size: 3.15em;
    color: #000!important;
}

/**
 *  COMMUNITIES CAROUSEL
*/
body .comm_carousel{
    background: #1D5A32;
    justify-content: center;
    align-items: center;
}

.comm_pady {
    padding-top: 4rem!important;
    padding-bottom: 2rem!important;
}

.comm_card {
    display: flex;
    flex-wrap: wrap;
}

.comm_card img {
    border: 2px solid white;
    border-radius: 12px;
}

div.card_left {
    align-items: center;
}

.card_right h3 {
    font-weight: 700;
}

.card_right strong {
    font-weight: 700;
}

/**
 * ARTICLES
 */
.article-pad {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important;
    padding-left: 2.5rem!important;
    padding-right: 2.5rem!important;
}

.card-img-top {
    padding-top: 1rem!important;
}

.card {
    margin: 1%;
}

.card-title {
    color: #000;
}

.card-text {
    color: #000;
}

/**
 * FOOTER
*/
footer {
    background: #1D5A32;
    background-size: cover;
    background-position: center bottom;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer a {
    color: white !important;
    text-decoration: none !important;
}

footer a:hover {
    text-decoration: underline !important;
}

.footer-link-main-site {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1em;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.footer-link-main-site:hover {
    opacity: 0.75; /* reduce opacity */
}

.footer-link-main-site:hover + .material-icons {
    transform: translateX(.3rem); /* slide right slight */
}

.material-icons {
    transition: 0.3s;
}

@media screen and (min-width: 1200px) /* md going to lg */ {
    .footer-description {
        font-size: 1em !important;
    }
    
    .footer-developers {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 1200px) /* md going below until xs */ {
    .footer-description {
        font-size: 0.8em !important;
        padding-top: 0.5rem;
    }
    
    .footer-link-main-site {
        font-size: 0.8em !important;
    }

    .footer-developers {
        font-size: 0.7em !important;
        padding-top: 0.5rem;
    }
}

.footer-title {
    border-radius: 70px;
    background: rgba(74, 117, 79, 0.5);
}